.header-logo {
  position: relative;
  left: 10em;
}

.header-middle {
  display: flex;
  justify-content: center;
  align-items: center; /* Cambia el color de fondo */
  padding: 20px; /* Agrega relleno */
}

.header-middle h1 {
  font-family: "Inter", sans-serif; /* Usa la fuente Inter */
  position: relative;

  left: 4em;
  font-weight: 700; /* Negrita */
  color: white; /* Color del texto */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto */
  font-size: 3rem; /* Tamaño de fuente */
  animation: bounce 1s infinite; /* Animación */
  margin: 0;
}

/* Animación bounce */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.profile-container {
  padding: 20px;
}

.profile-title {
  text-align: center;
  margin-bottom: 20px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-label {
  margin-bottom: 5px;
}

.profile-input {
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

.profile-button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .profile-container {
    padding: 10px;
  }

  .profile-input {
    width: 100%;
    max-width: none;
  }

  .profile-button {
    width: 100%;
  }
}
